@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.nav-link {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  position: fixed;
  z-index: 100000;
  width: 100%;
}

.header h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 3px;
}

.header span {
  color: #f9004d;
}

.nav-link ul {
  display: flex;
  gap: 3rem;
  align-items: center;
}

li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 3px;
  transition: 0.6s;
}

li a {
  text-decoration: none;
  color: white;
  border-radius: 1rem;
  padding: 5px 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
  background-color: #f9004d;
  color: #fff;
}

.banner {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  top: 0;
  z-index: -1;
}

.section {
  height: 100%;
  width: 100%;
  padding-top: 8.5rem;
  display: flex;
}

.section .line {
  width: 3px;
  background-color: white;
  height: 20em;
  bottom: -2rem;
  position: relative;
  right: -6rem;
}

.image-about {
  padding-left: 10rem;
}

.image-about img {
  height: 25rem;
  width: 20rem;
  border: 2px solid #f9004d;
  border-radius: 10rem;
  transition: transform 1s all ease-in-out;
}

.image-about img:hover {
  transform: scale(1.2);
}

.info {
  padding-left: 14rem;
  padding-top: 4rem;
}

.info p {
  color: #fff;
  border: 2.5px solid #fff;
  border-radius: 1rem;
  width: 25rem;
  height: 10rem;
  padding: 2rem 2rem;
  text-align: center;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 5px 15px #f90000d6;
  background-color: #f9004d;
  transition: scale 0.5s all ease-in-out;
}

.info p:hover {
  scale: 1.1;
}

.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -29.2rem;
  left: 0.3rem;
  width: 5rem;
}

.contacts a {
  font-size: 36px;
  padding-right: 10px;
  padding: 2.57rem;
}

.contacts a:hover {
  scale: 1.2;
}

.fa-facebook {
  color: #f9004d;
}

.fa-github {
  color: #f9004d;
}

.fa-envelope {
  color: #f9004d;
}

.fa-instagram {
  color: #f9004d;
}
